@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Montserrat-VariableFont.woff2) format("woff2");
  }
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}
